@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="center jumbotron">
    <h1>Welcome to the ASP.net App</h1>

    <h2>
      This is the home page for the
      <a href="https://www.railstutorial.org/">ASP.net Tutorial</a>
      sample application.
    </h2>

    <a class="btn btn-lg btn-primary" href="/signup">Sign up now!</a>
  </div>

  <a href="https://rubyonrails.org/"><img alt="Rails logo" width="200" src="/img/Asp.net.svg.png" /></a>
